*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.dropdown-wrapper{
    width: 160px;
    padding: 0 5px;
}
@media(max-width:412px)  {
    .tel{
        margin-top: 100px;
        margin-left: 170px;
    }

}
.wrapper{

    margin-left: 80px;
}
@media(max-width:412px){
    .wrapper{
        flex-direction: column;
        margin-left: -5px;
    }
    .snimki{
        width: 350px;
    }
}
.h2{
    margin-top: 200px;
}